:root {
    --primary-color: #165b33;
    --secondary-color: #146b3a;

    --accent-color: #f8b229;
    --background-color: #f5f5f5;
    --font-color: #072011;
    --reset-button-color: #bb2528;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
    z-index: 1;

}

h1 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    color: var(--font-color)
}

h2 {
    font-size: 25px;
}

header {
    background: var(--primary-color);
    height: 100px;
}

#help {
    float: right;
    border-radius: 50px;
    border: 2px solid red;
    width: 10px;
    padding: 5px;

}

#help ::after {
    clear: both;

}

#help:hover {
    background: red;
}

#add-user-button {
    display: ;
    margin: 20px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;

    background: var(--accent-color);
    width: 200px;

}

#add-user-button h2 {
    padding: 0;
    margin: 0;
}


#users {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 99%;
    min-height: calc(100vh - 300px);
    margin: auto auto;
}

.user {
    background-color: var(--secondary-color);
    min-width: 30%;
    min-height: 150px;
    max-height: 150px;
    border-radius: 25px;
    padding: 20px;
    margin: 10px;


}


input {
    height: 25px;


}

#button-array {
    margin: 10px;
}


.option-buttons {
    margin: 10px;
    text-align: center;
    height: 40px;
    background-color: white;
    border-radius: 10px;

}

#option-button-reset {
    background: var(--reset-button-color);
}

.Overlay {
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: fixed;
    top: calc((100vh - 60vh) / 2);
    left: calc((100vw - 70vw) / 2);

    height: 60vh;
    width: 70vw;

    background: var(--primary-color);
    border-radius: 10px;
    box-shadow: 5px 5px var(--secondary-color);
}

#Shuffle-Overlay img {

    height: 60vh;
    width: 70vw;

}

#Input-Overlay-Guard {
    z-index: 2;
    position: fixed;
    /* background: black; */
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}


/* Utility Style */

.hidden {
    display: none;
}

.lock-scroll {

    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}